In [1]:
# q1
n=7**4
print(n)

2401

In [2]:
# q2 split this string: s ="Hi there sam!" into a list
s = "hi there sam!"
word_list = s.split()
print(word_list)

['hi', 'there', 'sam!']

In [3]:
# q3 Given the variables: planet = "Earth" diameter = 12742 Use .formate() to print  the following string: The diameter of Earth is 12742km
planet = "Earth"
diameter = 12742

o_string = "The diameter of {} is {}km".format(planet, diameter)
print(o_string)

The diameter of Earth is 12742km

In [4]:
# q4 Gien  this nested list, use indexing to grab the word "hello" 
# list=[1,2,[3,4],[5,[100,200,"hello"]],23,11],1,7]
my_list = [1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]
a = my_list[3][1][2]
print(a)

['hello']

In [5]:
#q5
d={"k1":[1,2,3,{'tricy':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
a=d['k1'][3]['tricy'][3]['target'][3]
print(a)

hello

In [6]:
# q7 Function to grab the emali website domain
def grab(email):
    return email.split('@')[1]

email_address = "user@domain.com"
domain = grab(email_address)
print(domain)

domain.com

In [7]:
# q8 create a basic function that returns true if the world 'dog' is contained in the input string, 
#Don't worry about edge cases like a punctuation being attached to the word dog, but do account
# for capitalization.: findDog('Is there a dog here?)

def find(input):
    return 'dog' in input.lower()

a="Is there a dog here?"
print(find(a))

True

In [1]:
#1 sample  example for oop concepts
class students:
    course ="BCA"
    def __init__(self):
        print("inside default constructor")
     ##constructor
    def __init__(self,name,s_id,mob):
        self.name=name
        self.s_id=s_id
        self.mob=mob
        print("Inside the  parameterised constructor")
    def display(self): ## method
        print(self.name,"'s id is",self.s_id,"and mobile number is ",self.mob)   

    ## kiya=students()
    kiya=students("kiya",112,9832044937)
    kiya.display ##method call
    print("These are", students.course,"students") #class call

NameError: name 'students' is not defined

In [ ]:
class employees:
    def __init__(self):
       self.empid=input("Enter your id:")
       self.name=input("Enter your name:")
       self.salary=int(input("Enter your salary:"))
       self.number_of_exp=int(input("Enter your experience:"))
       self.hra=0
       self.DA=0
       self.pf=0
       self.bonus=0
       self.net_salary=0
       print("inside init")
    def calhra(self):
        self.hra = 0.35 * self.salary
        print(self.hra)
    def calDA(self):
        self.DA = 0.58 * self.salary
        print("DA",self.DA)
    def calpf(self):
        self.pf = 0.095 * self.salary
        print("pf",self.pf)
    def calbonus(self):
        if self.number_of_exp >= 30:
            self.bonus = 0.59 * self.salary
            print("bonus:",self.bonus)
        elif self.number_of_exp >=23:
            self.bonus = 0.51 * self.salary
            print("bonus:",self.bonus)
        elif self.number_of_exp >=15:
            self.bonus = 0.45 * self.salary
            print("bonus:",self.bonus)
        elif self.number_of_exp >=7:
            self.bonus = 0.33 * self.salary
            print("bonus:",self.bonus)
        else:
            self.bonus = 0.16 * self.salary  
            print("bonus:",self.bonus)

    def calnetsalary(self):
        self.net_salary = self.salary + self.DA + self.hra - self.pf + self.bonus
        print("net_salary",self.net_salary)
keya=employees()
keya.calhra()
keya.calDA()
keya.calpf()
keya.calbonus()
keya.calnetsalary()

In [ ]:

n = int(input("Enter the number of elements: "))
numbers = []
for i in range(n):
    num = int(input("Enter a number: "))
    numbers.append(num)


new_list = []
for i in range(n // 2):
    new_sum = numbers[i] + numbers[n - i - 1]
    new_list.append(new_sum)


new_list = list(set(new_list))

new_tuple = tuple(new_list)
print("Resulting tuple:", new_tuple)

In [ ]:
class numbers:
    def __init__(self, num=0):
        self.num = num
    def setnum(self,num):
        self.num =  num
    def getnum(self):
        return self.num
    def add(self,n2):
        #n3= numbers(self.num + n2.num)
        #return n3
        return self.num  + n2.num
    def power(self,n2):
        return self.num ** n2.num
    def concatenation(self,n2):
        return  str(self.num) + str(n2.num) 
    def mx(self,n2):
        if self.num>n2.num:
            return "n1 is greater"
        else:
            return a,"n2 is greater"

n1 = numbers() #call this in def function 
n1.setnum(2)
print(n1.getnum())
n2=numbers()
n2.setnum(4)
print(n2.getnum())
print(n1.add(n2))
#n3=n1.add(n2)
#n3.getnum()
print(n1.add(n2))
print(n1.power(n2))
print(n1.concatenation(n2))
print(n1.mx(n2))

In [ ]:
# Assignment3 Q1
data = [
    (12345, "Diksha", "Diksha r@nuv.ac.in"),
    (45667, "Jiva", "Jiva@nuv.ac.in"),
    (16789, "Ronit", "Ronitd@nuv.ac.in"),
    (69433, "Heena", "Heena@nuv.ac.in")
]

# Accessing elements of the data structure
for item in data:
    print("ID:", item[0])
    print("Name:", item[1])
    print("Email:", item[2])
    print()  # Empty line for separation

In [ ]:
data = [
    (12345, "Diksha", "Diksha r@nuv.ac.in"),
    (45667, "Jiva", "Jiva@nuv.ac.in"),
    (16789, "Ronit", "Ronitd@nuv.ac.in"),
    (69433, "Heena", "Heena@nuv.ac.in")
]
sid=12345
def ID():
    sid=int(input("Enter any id:"))
    for  d in data :
        #print(d)
        if d[0]== sid:
            print(d)
result=ID()

def name():
    name=input("Enter name:")
    for  d in data :
        #print(d)
        if d[1]== sid:
            print(d)
result=name()

In [ ]:
Mydict ={
"Enrollment Id" : [12345,45667,16789,69433],
"Student Name": ["Diksha ", "Jiva", "Ronit", "Heena"],
"Email Id ": ["Diksha r@nuv.ac.in", "Jiva@nuv.ac.in", "Ronitd@nuv.ac.in",
"Heena@nuv.ac.in"]
}
Mydict["Enrollment Id"][3]
value=int(input("enter id:"))
for i in range(len(Mydict["Enrollment Id"])): # for id input
    if Mydict["Enrollment Id"][i]==value:
       # print(Mydict["Enrollment Id"][i])
        #print(Mydict["Student Name"][i])
        #print(Mydict["Email Id "][i])
        enrolid=Mydict["Enrollment Id"][i]
        sname=Mydict["Student Name"][i]
        emailid=Mydict["Email Id "][i]
        print(f"{enrolid:<15}{sname:15}{emailid:25}")

In [ ]:
data = [
    (12345, "Diksha", "Diksha r@nuv.ac.in"),
    (45667, "Jiva", "Jiva@nuv.ac.in"),
    (16789, "Ronit", "Ronitd@nuv.ac.in"),
    (69433, "Heena", "Heena@nuv.ac.in")
]
Mydict ={
"Enrollment Id" : [],
"Student Name": [],
"Email Id ": []
}
 
for d in data: # method 1
    Mydict["Enrollment Id"].append(d[0])
    Mydict["Student Name"].append(d[1])
    Mydict["Email Id "].append(d[2])

#Mydict["Enrollment Id"]=[d[0] for d in data]


Mydict

In [ ]:
import json
fu=open("BCAdetails.json",'w')
a=json.dumps(Mydict)
fu.write(a)
#To read any json object from file
fr=open("BCAdetails.json","r")
allstudents=json.load(fr)#read

In [ ]:
import csv
with open('Q5data.csv') as csvdata:
    for n in csvdata:
        print(n)

In [ ]:
import csv
with open('Q5data.csv') as csvdata:
    for n in csvdata:
        print(n)

In [ ]:
                            # unit:2  Assignmnet-4
import numpy as np
# To convert lib in nump array = np.array

In [ ]:
'''TO print in matrix 
mat=np.array(mymat)
mat

* To arrange in sequence
np.arange(string)(0,11)
np.arange(0,11,2) if you write 2 then it will skip 2 numbers'''

In [ ]:
np.zeros(10) # all values will print zeros  for 1D

In [ ]:
np.ones(10) #all values  will print 1

In [ ]:
np.ones(10)*5

In [ ]:
# theory 
#1D = np.ones(6) 
#matrix = np.ones(6,6)

In [ ]:
np.arange(10,51)

In [ ]:
np.arange(10,51,2) # skip 2 number

In [ ]:
ar=np.arange(0,9).reshape(3,3)
ar
#(ar.shape) di

In [ ]:
np.eye(3)# use fro diagonals .eye is use

In [ ]:
np.random.rand(1) # is will give you any random value if you want 1D then write 1, for 2D is 2 digit number(2,3)

In [ ]:
np.random.rand(25)
ranar=np.random.randint(0,50,10) # to keep value in integer form then "randint" will use
ranar.dtype

In [ ]:
np.arange(1,101).reshape(10,10)/100 #arange will arranger the numbers in sequences and "reshape"

In [ ]:
                                        # linspace
#Return evenly(divided in equal parts) spaced numbers

In [ ]:
np.linspace(0,1,100) #Here (0(start),1(end),10(no.of point ))

In [ ]:
np.arange(1,26).reshape(5,5)

In [ ]:
np.linspace(0,1,20)

In [ ]:
import numpy as np
arr=np.arange(1,26).reshape(5,5)
arr

In [ ]:
arr[2:5 , 1:5]

In [ ]:
arr[3,4]

In [ ]:
arr[0:3,1:2]

In [ ]:
arr[4:5]

In [ ]:
arr[3:5]

In [ ]:
arr[3:4,4:5]#2nd method

In [ ]:
 #Get the sum of arr

In [ ]:
np.sum(arr)

In [ ]:
np.std(arr)

In [ ]:
#axix=1 for Rows and axis=0 for column

In [ ]:
np.sum(arr,axis=0)

In [ ]:
np.sum(arr,axis=1)

In [ ]:
mat[4:5]

In [ ]:
mat[0:3,1:2]

In [ ]:
oneD=np.arange(0,12)
oneD
#oneD.ndim
#oneD.dtype(show the dtype('int32'))

In [ ]:
twoD=np.arange(0,12).reshape(3,4)
twoD
#twoD.ndim
#twoD.shape

In [ ]:
threeD=np.arange(0,12).reshape(3,2,2)
#threeD.ndim
threeD

In [ ]:
oneD.dtype
twoD.dtype
threeD.dtype

In [ ]:
oneD.shape

In [ ]:
twoD.shape

In [ ]:
threeD.shape

In [ ]:
oneD.ndim

In [ ]:
twoD.ndim

In [ ]:
threeD.ndim

In [ ]:
np.ones(15).reshape(5,3)

In [ ]:
np.empty(3)

In [ ]:
np.zeros(12)

In [ ]:
np.zeros(12).reshape(3,4)

In [ ]:
maths=np.random.randint(0,100,20)
maths

In [ ]:
sort=np.sort(maths)
sort

In [ ]:
np.flip(sort)

In [ ]:
copy1=np.copy(sort)
copy1

In [ ]:
np.eye(5)

In [ ]:
np.eye(5).reshape(25,)

In [ ]:
one=np.arange(1,10).reshape(3,3)
two=np.arange(10,13)
three=np.append(one,two).reshape(4,3)
three
                       #   one=np.arange(1,10).reshape(3,3)
                       #    np.append(one,[[10,11,12]],axis=0)

In [ ]:
np.vstack((one,[10,11,12]))

In [ ]:
np.hstack((one,[[4],[6],[9]]))

In [ ]:
np.hsplit(one,3)

In [ ]:
np.vsplit(one,3)

In [ ]:
np.eye(4)+4

In [ ]:
Q13=np.random.uniform(0,9,10)
Q13

In [ ]:
np.ceil(Q13)

In [ ]:
np.floor(Q13)

In [ ]:
np.floor?

In [ ]:
np.round(Q13,decimals=2)

In [ ]:
Q14=np.arange(0,25).reshape(5,5)
Q14

In [ ]:
Q14.min(axis=0)

In [ ]:
Q14.max(axis=0)

In [ ]:
Q14.var(axis=0)

In [ ]:
Q14.std(axis=0)

In [ ]:
Q15 = np.full((Null)*10)
Q15[5] = 200
Q15

In [ ]:
a= np.arange(100,150)
a

In [ ]:
#q20
a=np.ones((10,10))
a[1:9,1:9]=0
a

In [ ]:
#q21
a=np.ones((8,8))
a[:,0:1]

In [ ]:
a[0:9:2,0:1]=0
a

In [ ]:
chk=np.ones((8,8))

In [ ]:
chk

In [ ]:
chk[0::2,0::2]=0
chk[1::2,1::2]=0 # for 1st row and then skip 2 rows
chk

In [ ]:
a=np.ones((5,5))
a[0::2,0::2]=0
a[1::2,1::2]=0
a

In [ ]:
chk=np.ones((4,4))
chk[0::3,0::3]=2
chk[1::3,1::3]=2 # for 1st row and then skip 2 rows
chk

In [ ]:
a = np.random.randint(0,10,(3, 3))
b = np.random.randint(0,10,(3, 3))
print("matrix1:",a)
print("matrix2",b)

add=a+b
print("add",a)

m=a@b
print("multiply",m)

s=a-b 
print( "sub",s)

In [ ]:
                     #series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
series=['python','DSA','DBMS']
list=[95,65,45]

In [ ]:
pd.Series(data=list)
pd.Series(data=list,index=series)
pd.Series(list,series)

In [ ]:
#series.

In [ ]:
 #Dictionary
a={"name":"priya","email":"abc@gmail.com", "pet":"german"
}
pd.Series(a)

In [ ]:
a.keys()

In [ ]:
a.values()

In [ ]:
from numpy.random import randn
import numpy as np
import pandas as pd

In [ ]:
df=pd.DataFrame(np.random.randint(1,100,(4,3)),index=['kia','hallu','karnavi','om'],columns=['python','Data-science','DBMS'])
df

In [ ]:
df['DBMS']

In [ ]:
df[['DBMS','python']]

In [ ]:
df.loc['kia']

In [ ]:
df.loc[['kia','hallu']]

In [ ]:
df.iloc[2]

In [ ]:
df['names']=['tinu','pina','sona','mona'] # new colums will add
df

In [ ]:
df.set_index('names')
df

In [ ]:
df['totals']=df['python']+df['Data-science']+df['DBMS']
df

In [ ]:
df.drop('names',axis=1,inplace=True)
df

In [ ]:

df1=pd.read_csv('Q5data.csv')
df1

In [ ]:
df

In [ ]:
                  #Assignment

In [ ]:
import numpy as np
import pandas as pd
list=['productID','productname','productprice']
d=[1,'rice',45],[2,'butter',50],[3,'milk',60]

In [ ]:
pd.Series(data=list)
pd.Series(data=list,index=d)
pd.Series(list,d)

In [ ]:
#q1
from numpy.random import randn
import numpy as np
import pandas as pd

In [ ]:
df1=pd.DataFrame(np.random.randint(1,100,(4,3)),index=['1','2','3','4'],columns=['productid','price','name'])
df1

In [ ]:
df1.drop('name',axis=1,inplace=True)
df1

In [ ]:
df1['names']=['rice','oil','peanut','butter']
df1

In [ ]:
df1['productid']

In [ ]:
df1['names']

In [ ]:
df1['price']

In [ ]:
df1.loc['1']

In [ ]:

df1.loc['2']

In [ ]:
df1.loc['3']

In [ ]:
df1.loc['4']

In [ ]:
df1

In [ ]:

df1.loc['2':,["price"]]

In [ ]:
#q4
df1.iloc[1:4,[2]]

In [ ]:
df1.loc['2':'4',df1.columns!='price']

In [ ]:
df1

In [ ]:
#q5
df1.iloc[[2,3]]

In [ ]:
#q6
df1.loc['2':'4',df1.columns!='price']

In [ ]:
df1

In [ ]:
#q7
df1.iloc[0:3,[1]]

In [ ]:
#8
df=pd.DataFrame(np.random.randint(1,100,(4,3)),index=['kia','hallu','karnavi','om'],columns=['python','Data-science','DBMS'])
df

In [ ]:
df['python']>40

In [ ]:
df.loc[df['python']>40,'python']

In [ ]:
#q9
df+2

In [ ]:
df

In [ ]:
df2=(df+2)
df2

In [ ]:
df2

In [ ]:
df3=(df+50)
df3

In [ ]:
df2[df2>100]=100
df2

In [ ]:
# & for and
# | for or

In [ ]:
#q10
df3[(df3['python']>85) & (df3['Data-science']>130)]

In [ ]:
#q11
df[df.index.str.startswith('o')]

In [ ]:
#q12
df[df.index.str.endswith('a')]

In [ ]:
#13
df

In [ ]:
df['totals']=df['python']+df['Data-science']+df['DBMS']
df

In [ ]:
df['per']=((df['python']+df['Data-science']+df['DBMS']))/300*100
df

In [ ]:
#q14  example
df['result']=df['per']>40
df

In [ ]:
df.loc[df['per']>40,"result"]="pass" 
df

In [ ]:
# another way
df.loc[(df['per']>40,"result"=="pass") | df.loc[(df['per']<40,"result"=="fail")]]
df

In [ ]:
#q14 
df

In [ ]:
df['result']=np.where(df['per']<40,"fail","pass")
df

In [ ]:
#15. Calculate percentage based grade value (per>=90 then A-grade, per>=80 then B-grade,
# per>=70 then C-grade, per>=60 then D-grade, per>=50 then E-grade, per<50 then Fgrade)

df['grade']=np.where(df['per']>=90,"A-grade",np.where(df['per']>=80,"B-grade",np.where(df['per']>=70,"C-grade",np.where(df['per']>=60,"D-grade",np.where(df['per']>=50,"E-grade","f"))))) 
df

In [ ]:
#15. Calculate percentage based grade value (per>=90 then A-grade, per>=80 then B-grade,
# per>=70 then C-grade, per>=60 then D-grade, per>=50 then E-grade, per<50 then Fgrade)

df['grade']=np.where(df['per']>=35,"c-grade",np.where(df['per']>=20,"B-grade",np.where(df['per']>=20,"a grade","f")))
df

In [ ]:
df.loc[df['per']>=40,'grade']='A-grade'
df.loc[df['per']<=20,'grade']='B-grade'
df

In [ ]:
df.loc[df['per']>=70,'grade']='A-grade'
df.loc[df['per']>=60,'grade']='B-grade'
df.loc[df['per']>=50,'grade']='C-grade'
df.loc[df['per']>=40,'grade']='D-grade'
df.loc[df['per']>=30,'grade']='E-grade'
df.loc[df['per']<=10,'grade']='F'
df

In [ ]:
df.loc[df['per']<=25,'grade']='F'
df.loc[df['per']>=26,'grade']='E-grade'
df.loc[df['per']>=40,'grade']='D-grade'
df.loc[df['per']>=50,'grade']='C-grade'
df.loc[df['per']>=60,'grade']='B-grade'
df.loc[df['per']>=70,'grade']='A-grade'
df

In [ ]:
#q16
df.describe()

In [ ]:
'''16. Also calculate overall columns total, maximum, minimum and standard deviation for each  
numeric columns 
Convert the above dataframe to excel, json and html. '''
df.to_excel:Q5data.xlsx

In [ ]:
'''17. Display meta-data for each column for the above dataframe. 
'''

In [ ]:
'''18.Convert the above DataFrame to list within a dictionary. 
'''

In [ ]:
'''19. Convert this dictionary again to a separate dataframe by adding 500 to each element in product 
price column. '''

# Task-2

In [11]:
#q1
import numpy as np
import pandas as pd

In [12]:
sal = pd.read_csv('Salaries.csv')

C:\Users\Hi\AppData\Local\Temp\ipykernel_17972\1748292466.py:1: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('Salaries.csv')

In [13]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
594613,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
594614,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
594615,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
594616,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
594617,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [14]:
#q3
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [15]:
sal.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

In [16]:
#q4
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594618 entries, 0 to 594617
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                594618 non-null  object
 1   EmployeeName      594618 non-null  object
 2   JobTitle          594618 non-null  object
 3   BasePay           592198 non-null  object
 4   OvertimePay       594618 non-null  object
 5   OtherPay          594618 non-null  object
 6   Benefits          449982 non-null  object
 7   TotalPay          594618 non-null  object
 8   TotalPayBenefits  594618 non-null  object
 9   Year              594618 non-null  object
 10  Notes             3 non-null       object
 11  Agency            594618 non-null  object
 12  Status            152478 non-null  object
dtypes: object(13)
memory usage: 59.0+ MB

In [17]:
#extra

In [18]:
sal = sal.replace('Not Provided',np.nan)
sal = sal.replace('Not provided',np.nan)
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
594613,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
594614,148651,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594615,148652,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594616,148653,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594617,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [22]:
#Question 5
sal['BasePay']=sal['BasePay'].astype('string')
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
594613,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
594614,148651,NaN,NaN,<NA>,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594615,148652,NaN,NaN,<NA>,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594616,148653,NaN,NaN,<NA>,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594617,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [27]:
#Question 6
sal['OvertimePay']=sal['OvertimePay'].astype('string')
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
594613,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
594614,148651,NaN,NaN,<NA>,<NA>,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594615,148652,NaN,NaN,<NA>,<NA>,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594616,148653,NaN,NaN,<NA>,<NA>,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
594617,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [28]:
#Question 7
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24        CAPTAIN, FIRE SUPPRESSION
148659    CAPTAIN, FIRE SUPPRESSION
297314    CAPTAIN, FIRE SUPPRESSION
445969    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [29]:
#Question 8
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24        270324.91
148659    270324.91
297314    270324.91
445969    270324.91
Name: TotalPayBenefits, dtype: object

In [34]:
#Question 9

In [3]:
#or
sal.loc[sal['TotalPayBenefits'].idxmax()]

NameError: name 'sal' is not defined

In [ ]:
#Question 10
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

In [ ]:
#or
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

In [ ]:
#Question 11
sal.groupby('Year').mean()['BasePay']

In [ ]:
#Question 12
sal['JobTitle'].nunique()

In [ ]:
#Question 13
sal['JobTitle'].value_counts().head(5)

In [ ]:
#Question 14
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

In [ ]:
#Question 15
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [ ]:
#Question 16
sal['title_len'] = sal['JobTitle'].apply(len)

In [36]:
# Question 17
sal[['title_len','TotalPayBenefits']].corr()

KeyError: "['title_len'] not in index"

In [4]:
a={0,1,2,3}
a.max()

AttributeError: 'set' object has no attribute 'max'